---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Stack from "../components/Stack.astro";
import Proyectos from "../components/Proyectos.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<Stack />
		<Proyectos />
		<Contacto />
	</main>

	<footer
		class="pb-8 px-4 text-center text-gray-500 text-sm max-w-5xl mx-auto"
	>
		<p>
			&copy; 2024 Dorian García. Estudiante ASIR. Todos los derechos
			reservados.
		</p>
	</footer>
</Layout>

