html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0b0c0f;
    color: #e0e6ed;
    line-height: 1.6;
}
.contenedor-inicio {
    min-height: calc(100vh - 72px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle at center, #191b25 0%, #0b0c0f 70%);
    animation: aparecerSuave 0.4s ease-in;
}
.contenido-intro {
    max-width: 700px;
    padding: 20px;
}
.bio-texto {
    font-size: 20px;
    color: #94a3b8;
    margin-bottom: 30px;
}
.logo {
    display: block; 
    margin: 0 auto 20px auto;
    height: 220px;
    width: auto;
    opacity: 0;
    transform: translateY(-50px);
    animation: entradaLogo 0.8s ease-out forwards;
}
@keyframes entradaLogo {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1); 
    }
}
.enlaces-sociales .boton {
    display: inline-block;
    padding: 10px 25px;
    margin: 5px;
    border: 2px solid #00ccff; 
    color: #00ccff; 
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 5px;
    text-shadow: 0 0 5px rgba(0, 204, 255, 0.5);
}
.enlaces-sociales .boton:hover {
    background: #00ccff; 
    box-shadow: 0 0 20px #00ccff; 
    color: black;
    text-shadow: none;
}
.navegacion-fija {
    position: sticky;
    top: 0;
    background: rgba(12, 14, 19, 0.95);
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #333;
    z-index: 1000;
    backdrop-filter: blur(5px);
}
.navegacion-fija a {
    color: #e0e6ed;
    text-decoration: none;
    margin: 0 18px; 
    padding: 10px 15px;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    transition: color 0.3s;
    background-repeat: no-repeat;
    background-image: 
        linear-gradient(to right, #00ccff 100%, #00ccff 100%),
        linear-gradient(to bottom, #00ccff 100%, #00ccff 100%),
        linear-gradient(to left, #00ccff 100%, #00ccff 100%),
        linear-gradient(to top, #00ccff 100%, #00ccff 100%);   
    background-size: 
        0% 2px,
        2px 0%, 
        0% 2px, 
        2px 0%; 
    background-position: 
        top left, 
        top right, 
        bottom right, 
        bottom left;
    transition: background-size 0.7s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.3s;
}
.navegacion-fija a:hover {
    color: #00ccff;
    text-shadow: 0 0 8px rgba(0, 204, 255, 0.6);
    background-size: 
        100% 2px, 
        2px 100%, 
        100% 2px, 
        2px 100%;
}
.seccion-modulo {
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid #222;
}

.titulo-modulo {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 40px;
    border-left: 5px solid #00ff55d7;
    padding-left: 15px; 
}
.rejilla {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}
.tarjeta {
    background: #1a1c29;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #333;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 255, 98, 0.1);
    border-color: #00ff55; 
}
.tarjeta summary {
    list-style: none;
    padding: 20px;
    outline: none;
}
.cabecera-tarjeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecera-tarjeta h3 {
    margin: 0;
    font-size: 1.1rem;
    color: #fff;
    
}
.etiqueta {
    background: rgba(0, 255, 34, 0.1);
    color: #00ff55;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;

}
.cuerpo-tarjeta {
    padding: 0 20px 20px 20px;
    color: #b7c0cc;
    font-size: 0.95rem;
    animation: deslizarAbajo 0.3s ease-out;
    border-top: 1px solid #333;
    margin-top: 5px;
}
.cuerpo-tarjeta p { margin-bottom: 8px; }
.sensacion { color: #00ccff; font-weight: bold; } 
.puntuacion { color: #00ff00; font-weight: bold; }

@keyframes aparecerSuave {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes deslizarAbajo {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
footer {
    text-align: center;
    padding: 40px;
    color: #555;
    font-size: 15px;
}
.contenedor-titulo {
    margin-bottom: 20px;
}
.titulo-portfolio {
    font-size: 50px;
    font-weight: 900;
    color: rgb(0, 183, 255); 
    font-family: 'Segoe UI', sans-serif;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: 0;
    cursor: default;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
.titulo-portfolio:hover {
    color: #ffffff;
}
.titulo-portfolio::after {
    content: "";
    pointer-events: none;
    bottom: -5px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: #ffffff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
.titulo-portfolio:hover::after {
    width: 100%;
    left: 0%;    
}
@media (max-width: 768px) {
    .titulo-glitch { font-size: 2rem; }
    .navegacion-fija a { display: block; margin: 10px 0; }
    titulo-portfolio { font-size: 30px; }
}
