body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 60px;
} 
.hola2 {
    color: rgb(255, 0, 212);
    font-size: 30px;
}
.adios {
    color: red;
    font-size: 30px;
}